
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins&display=swap');



.itim-regular {
font-family: "Itim", cursive;
font-weight: 400;
font-style: normal;
}

  
.App{
    background-color: #092327;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 5% 85%;
    width: 100vw;
    font-family: "Poppins", sans-serif;
}


.title {
    margin: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
  



